@import './base.css';
@import "/node_modules/bootstrap/scss/bootstrap.scss";


#app {
  max-width: 1280px;
  width:350px;
  margin: 0 auto;
  padding: 0.5rem;
  font-weight: normal;
}

.tuxs {
  background: #ff8
}
.dater {
  background: #f8f
}
.cdp {
  background: #8ff
}
.udine {
  background: #888
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
